body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    margin: 0px;
    background-color: #000000;
    overflow: hidden;
    color: #eee;
}

.helthbar, .menu_button, .music_button, .score, .bonus{
    position: absolute;
    opacity: 0.5;
}

.hit, .game_over, .menu_page, .loader, .choose_control{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    text-align: center;
}

.hit {
    /*display: table;*/
    background-color: #BE463C;
}

.game_over {
    /*display: table;*/
    background-color: #444;
    z-index: 3;
}

.choose_control {
    /*display: table;*/
    background-color: #000;
    z-index: 1;
}

.choose_control span {
    margin-bottom: 40px;
}

.bigfont {
    font-size: 3em;
}

.block {
    display: block;
}


.loader {
    display: table;
    background-color: #000;
    z-index: 3;
}

.startGame {
}

.loader span {
    color: #fff;
    font-size: 5em;
    z-index: 3;
}

.menu_page {
    /*display: table;*/
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.menu {
    display: inline-block;
    width: 300px;
    height: 350px;
    border: 1px #ffffff solid;
    background-color: #363636;
}

.menu hr {
     /*color: #595959;*/
     /*background: #595959;*/
     width: 75%;
     /*height: 1px;*/
}

.menu span {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 1.25em;
}

.cont {
    display: table-cell;
    vertical-align: middle;
}

.error {
    font-size: 5em;
}

.one_more_time {
    margin: 10% 0 0 0;
    display: inline-block;
    border: 2px #eee solid;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.helthbar, .score, .bonus {
    bottom: 30px;
}

.helthbar {
    border: 1px #eee solid;
    background-color: #000;
    width: 30%;
    height: 20px;
    left: 35%;
    padding: 1px;
}

.helth {
    width: 100%;
    height: 100%;
    background-color: #BE463C;
}


.music_button, .menu_button {
    width: 40px;
    height: 40px;
    border: 1px #ffffff solid;
    font-size: 32px;
    text-align: center;
    cursor: pointer;
}

.music_button {
    z-index: 2;
    right: 75px;
    top: 30px;
}

.menu_button {
    z-index: 0;
    right: 30px;
    top: 30px;
}

.bonus {
    height: 30px;
    right: 30px;
    font-size: 2em;
}

.score {
    height: 30px;
    left: 30px;
    font-size: 2em;
}

#disp {
    display: /*none*/;
    position: absolute;
    top: 40%;
    left: 0;
}

.color {
    width: 100px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
}

a {
    color: white;
}

a:hover {
    color: red;
}

.button:hover {
    cursor: pointer;
    color: red;
}