@font-face {
    font-family: 'plumbcbold';
    src: url('../fonts/plm75__c-webfont.eot');
    src: url('../fonts/plm75__c-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/plm75__c-webfont.woff') format('woff'),
         url('../fonts/plm75__c-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'plumbmediumcmediumc';
    src: url('../fonts/plm65__c-webfont.eot');
    src: url('../fonts/plm65__c-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/plm65__c-webfont.woff') format('woff'),
         url('../fonts/plm65__c-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "plumbmediumcmediumc", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    text-transform: uppercase;
    margin: 0px;
    background-color: #000000;
    overflow: hidden;
    color: #eee;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    // -webkit-filter: blur(100px);
}

.score, .bonus{
    position: absolute;
}

.hit, .game_over, .pause, .loader, .choose_control, #nogame, .mobile_choosen, .webcam_choosen {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}

.mobile_choosen, .webcam_choosen {
    /*display: table;*/
    background-color: #000;
}

.webcamcontrol {
    width: 100%;
    height: 100%;
    // display: none;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}

#compare, #overlay {
    z-index: 1;
    display: none;
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -61px;
    border: 2px solid white;
}

#overlay {
    z-index: 2;
}

.hit {
    /*display: table;*/
    background-color: #BE463C;
}

.game_over {
    /*display: table;*/
    // background-color: #fafafa;
    z-index: 3;
}

.choose_control {
    display: none;
    // filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="blur-overlay"><feGaussianBlur stdDeviation="100"/></filter></svg>#blur-overlay');
    background-color: #000;
    z-index: 1;
}

.change_controls {
    width: 250px;
    height: 36px;
    background-color: #fd5439;
    position: relative;
    left: 50%;
    margin-left: -125px;
    padding-top: 15px;
    font-size: 18px;
    letter-spacing: 0.1em;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: background-color 0.4s ease-out 0;
    -moz-transition: background-color 0.4s ease-out 0;
    -o-transition: background-color 0.4s ease-out 0;
    transition: background-color 0.4s ease-out 0;
    // -webkit-transition: color 0.4s ease-out 0;
    // -moz-transition: color 0.4s ease-out 0;
    // -o-transition: color 0.4s ease-out 0;
    // transition: color 0.4s ease-out 0;
    &:hover {
        color: #000;
        background-color: #fff;
        -webkit-transition: background-color 0.4s ease-out 0;
        -moz-transition: background-color 0.4s ease-out 0;
        -o-transition: background-color 0.4s ease-out 0;
        transition: background-color 0.4s ease-out 0;
        // -webkit-transition: color 0.4s ease-out 0;
        // -moz-transition: color 0.4s ease-out 0;
        // -o-transition: color 0.4s ease-out 0;
        // transition: color 0.4s ease-out 0;
    }
}

.social {
    width: 280px;
    height: 52px;
    position: relative;
    left: 50%;
    margin-left: -140px;
    > div:first-child{
        background: #4e68b2 url(../img/fbw.png) 50% 50% no-repeat;
        &:hover {
            background-image: url(../img/fbb.png);
        }
    }
    > div:nth-child(2) {
        background: #4195de url(../img/tww.png) 50% 50% no-repeat;
        &:hover {
            background-image: url(../img/twb.png);
        }
    }
    > div:nth-child(3) {
        background: #38658f url(../img/vkw.png) 50% 50% no-repeat;
        &:hover {
            background-image: url(../img/vkb.png);
        }
    }
    > div:last-child {
        margin: 0;
        background: #ce2f1c url(../img/gpw.png) 50% 50% no-repeat;
        &:hover {
            background-image: url(../img/gpb.png);
        }
    }
    > div {
        width: 52px;
        height: 100%;
        float: left;
        margin-right: 24px;
        cursor: pointer;
        -webkit-transition: background-color 0.4s ease-out 0;
        -moz-transition: background-color 0.4s ease-out 0;
        -o-transition: background-color 0.4s ease-out 0;
        transition: background-color 0.4s ease-out 0;
        &:hover {
            color: #000;
            background-color: #fff;
            -webkit-transition: background-color 0.4s ease-out 0;
            -moz-transition: background-color 0.4s ease-out 0;
            -o-transition: background-color 0.4s ease-out 0;
            transition: background-color 0.4s ease-out 0;
        }
    }
}

.pause_control {
    width: 280px;
    height: 37px;
    margin-left: -140px;
    background-color: #222;
    color: #fff;
    -webkit-transition: background-color 0.4s ease-out 0;
    -moz-transition: background-color 0.4s ease-out 0;
    -o-transition: background-color 0.4s ease-out 0;
    transition: background-color 0.4s ease-out 0;
    // -webkit-transition: color 0.4s ease-out 0;
    // -moz-transition: color 0.4s ease-out 0;
    // -o-transition: color 0.4s ease-out 0;
    // transition: color 0.4s ease-out 0;
    &:hover {
        color: #000;
        background-color: #fff;
        -webkit-transition: background-color 0.4s ease-out 0;
        -moz-transition: background-color 0.4s ease-out 0;
        -o-transition: background-color 0.4s ease-out 0;
        transition: background-color 0.4s ease-out 0;
        // -webkit-transition: color 0.4s ease-out 0;
        // -moz-transition: color 0.4s ease-out 0;
        // -o-transition: color 0.4s ease-out 0;
        // transition: color 0.4s ease-out 0;
    }
}
.gameover_control {
    background-color: #272727;
    display: inline-block;
    position: static;
    margin-right: 4px;
    margin-top: 50px;
    margin-left: 0;
    -webkit-transition: background-color 0.4s ease-out 0;
    -moz-transition: background-color 0.4s ease-out 0;
    -o-transition: background-color 0.4s ease-out 0;
    transition: background-color 0.4s ease-out 0;
    // -webkit-transition: color 0.4s ease-out 0;
    // -moz-transition: color 0.4s ease-out 0;
    // -o-transition: color 0.4s ease-out 0;
    // transition: color 0.4s ease-out 0;
    &:hover {
        color: #000;
        background-color: #fff;
        -webkit-transition: background-color 0.4s ease-out 0;
        -moz-transition: background-color 0.4s ease-out 0;
        -o-transition: background-color 0.4s ease-out 0;
        transition: background-color 0.4s ease-out 0;
        // -webkit-transition: color 0.4s ease-out 0;
        // -moz-transition: color 0.4s ease-out 0;
        // -o-transition: color 0.4s ease-out 0;
        // transition: color 0.4s ease-out 0;
    }
}
.resume {
    width: 280px;
    height: 37px;
    background-color: #fd5439;
    color: #000000;
    position: relative;
    left: 50%;
    margin-left: -140px;
    padding-top: 15px;
    font-size: 18px;
    letter-spacing: 0.1em;
    cursor: pointer;
    z-index: 10;
    margin-bottom: 7px;
    margin-top: 38px;
    -webkit-transition: background-color 0.4s ease-out 0;
    -moz-transition: background-color 0.4s ease-out 0;
    -o-transition: background-color 0.4s ease-out 0;
    transition: background-color 0.4s ease-out 0;
    // -webkit-transition: color 0.4s ease-out 0;
    // -moz-transition: color 0.4s ease-out 0;
    // -o-transition: color 0.4s ease-out 0;
    // transition: color 0.4s ease-out 0;
    &:hover {
        color: #000;
        background-color: #fff;
        -webkit-transition: background-color 0.4s ease-out 0;
        -moz-transition: background-color 0.4s ease-out 0;
        -o-transition: background-color 0.4s ease-out 0;
        transition: background-color 0.4s ease-out 0;
        // -webkit-transition: color 0.4s ease-out 0;
        // -moz-transition: color 0.4s ease-out 0;
        // -o-transition: color 0.4s ease-out 0;
        // transition: color 0.4s ease-out 0;
    }
}

.restart {
    width: 188px;
    height: 36px;
    background-color: #272727;
    padding-top: 15px;
    font-size: 18px;
    letter-spacing: 0.1em;
    cursor: pointer;
    z-index: 10;
    display: inline-block;
    -webkit-transition: background-color 0.4s ease-out 0;
    -moz-transition: background-color 0.4s ease-out 0;
    -o-transition: background-color 0.4s ease-out 0;
    transition: background-color 0.4s ease-out 0;
    // -webkit-transition: color 0.4s ease-out 0;
    // -moz-transition: color 0.4s ease-out 0;
    // -o-transition: color 0.4s ease-out 0;
    // transition: color 0.4s ease-out 0;
    &:hover {
        color: #000;
        background-color: #fff;
        -webkit-transition: background-color 0.4s ease-out 0;
        -moz-transition: background-color 0.4s ease-out 0;
        -o-transition: background-color 0.4s ease-out 0;
        transition: background-color 0.4s ease-out 0;
        // -webkit-transition: color 0.4s ease-out 0;
        // -moz-transition: color 0.4s ease-out 0;
        // -o-transition: color 0.4s ease-out 0;
        // transition: color 0.4s ease-out 0;
    }
}

.bigfont {
    font-size: 3em;
}

.block {
    display: block;
}

.gameTimer {
    position: absolute;
    opacity: 0.5;
    left: 170px;
    top: 5px;
    font-size: 32px;
    z-index: 4;
}

#loader {
    // display: none;
    // background-color: rgba(0,0,0,0.8);
    z-index: 5;
}

#nogame {
    display: none;
    z-index: 4;
    background-color: #fafafa;
    background: #fafafa url(../img/nogame.jpg) 0 0 no-repeat;
    background-size: cover;
    overflow: hidden;
    >.cont {

        >img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -765px;
        margin-top: -498px;
        // width: 100%;
        // height: inherit;
        z-index: -1;
        }
        >.nogame1 {
            color: #fafafa;
            font-size: 60px;
            letter-spacing: 0.08em;
        }
        >.nogame2 {
            padding-top: 200px;
            color: #fafafa;
            font-size: 18px;
            letter-spacing: 0.1em;
            >a {
                color: #fd5439;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.startGame {
}

.loader span {
    color: #fff;
    font-size: 5em;
    z-index: 3;
}
#interface {
    display: none;
}
#footer {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 84px;
    z-index: 4;
    >span {
        font-size: 12px;
        font-family: 'plumbcbold';

        padding-top: 35px;
        padding-left: 35px;
        padding-right: 9px;
    }
}

.loadImg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -530px; 
    margin-top: -350px;
}
.gameover_bg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -765px;
    margin-top: -498px;
    z-index: -1;
}
.coins {
    margin-bottom: 100px;
}
.gameover_message {
    color: #fff;
    font-size: 40px;
    letter-spacing: 0.1em;
    line-height: 53px;
    margin-bottom: 20px;
}
.left {
    float: left;
    letter-spacing: 0.29em;
}

.right {
    float: right;
    letter-spacing: 0.01em;
    > a, span {
        margin-right: 16px;
    }
}

.hotdot {
    display: inline-block;
    vertical-align: middle;
}

.pause {
    /*display: table;*/
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.menu {
    display: inline-block;
    width: 300px;
    height: 400px;
    border: 1px #ffffff solid;
    background-color: #363636;
}

.menu hr {
     /*color: #595959;*/
     /*background: #595959;*/
     width: 75%;
     /*height: 1px;*/
}

.menu span {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 1.25em;
}

.cont {
    display: table-cell;
    vertical-align: middle;
}

.error {
    font-size: 5em;
}

.helthbar, .score, .bonus {
    bottom: 30px;
}

.helthbar {
    border: 1px #eee solid;
    background-color: #000;
    width: 30%;
    height: 20px;
    left: 35%;
    padding: 1px;
}

.helth {
    width: 100%;
    height: 100%;
    background-color: #BE463C;
}


.music_button, .menu_button, .fs_button {
    width: 40px;
    height: 40px;
    border: 1px #ffffff solid;
    font-size: 32px;
    text-align: center;
    cursor: pointer;
}

.fs_button {
    z-index: 2;
    right: 120px;
    top: 30px;
}

.music_button {
    z-index: 2;
    right: 75px;
    top: 30px;
}

.menu_button {
    z-index: 0;
    right: 30px;
    top: 30px;
}

.bonus {
    height: 30px;
    right: 30px;
    font-size: 2em;
}

.score {
    width: 207px;
    height: 30px;
    left: 0;
    font-size: 40px;
    bottom: 125px;
    text-align: right;
    color: #fff;
    > span {
        vertical-align: middle;
    }
    > img {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
    }
}

.color {
    width: 100px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
}

a {
    color: #fd5439;
}

a:hover {
    color: #fff;
}

.button:hover {
    cursor: pointer;
}

#loader {
    display: none;
}

#webgl-error-message {
    z-index: 5;
}

#qrcode canvas {
    border: 5px solid white;
}
#qrcode {
    margin-top: 40px;
    margin-bottom: 40px;
}
.logo {
    // position: absolute;
    margin-top: 50px;
    margin-bottom: 10px;
    height: 130px;
    overflow: hidden;
    z-index: 2;
    width: 100%;
    > img {
        height: 110px;
    }
}

.byhotdot {
    margin-top: -17px;
    font-size: 12px;
    letter-spacing: 0.15em;
}
.message {
    color: #fd5439;
    font-size: 30px;
    letter-spacing: 0.15em;
    margin-top: 153px;
}

.mobile_message {
    font-size: 30px;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}
.webcam_message {
    font-size: 40px;
    line-height: 1.2em;
    letter-spacing: 0.1em;
}
.turn_to_start {
    position: relative;
    width: 100%;
    height: 260px;
    font-size: 40px;
    >span {
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 100%;
    }
}
#head {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -72px;
    display: none;
}
#left_v_check {
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: none;
}
#right_v_check {
    position: absolute;
    bottom: 50px;
    right: 100px;
    display: none;
}
.mobile_message span{
    text-transform: lowercase;
}

.controls {
    font-size: 16px;
    letter-spacing: 0.2em;
    margin-top: -10px;
    div:hover .rect {
        background-color: #fff;
        -webkit-transition: background-color 0.4s ease-out 0;
        -moz-transition: background-color 0.4s ease-out 0;
        -o-transition: background-color 0.4s ease-out 0;
        transition: background-color 0.4s ease-out 0;
    }
    div:hover .rect .quad {
        background-color: #000;
        -webkit-transition: background-color 0.4s ease-out 0;
        -moz-transition: background-color 0.4s ease-out 0;
        -o-transition: background-color 0.4s ease-out 0;
        transition: background-color 0.4s ease-out 0;
    }
    .rect {
        position: relative;
        background-color: #fd5439;
        -webkit-transition: background-color 0.4s ease-out 0;
        -moz-transition: background-color 0.4s ease-out 0;
        -o-transition: background-color 0.4s ease-out 0;
        transition: background-color 0.4s ease-out 0;
        > .quad {
            background-color: #fff;
            -webkit-transition: background-color 0.4s ease-out 0;
            -moz-transition: background-color 0.4s ease-out 0;
            -o-transition: background-color 0.4s ease-out 0;
            transition: background-color 0.4s ease-out 0;
            position: absolute;
            width: 7px;
            height: 7px;
        }
    }
    >.choose_wasd {
        .rect {
            width: 112px;
            height: 46px;
            margin: 52px auto;
            .quad1 {
                bottom: 17px;
                right: 38px;
            }
            .quad2 {
                bottom: 8px;
                right: 47px;
            }
            .quad3 {
                bottom: 8px;
                right: 38px;
            }
            .quad4 {
                bottom: 8px;
                right: 29px;
            }
        }
    }
    >.choose_mobile {
        .rect {
            margin: 34px auto;
            width: 51px;
            height: 82px;
            .quad {
                bottom: 7px;
                right: 21px;
                width: 8px;
                height: 8px;
            }
        }
    }
    >.choose_webcam {
        .rect {
            margin: 43px auto;
            width: 89px;
            height: 63px;
            .quad {
                top: 8px;
                right: 40px;
                width: 8px;
                height: 8px;
            }
        }
    }
    >div {
        display: inline-block;
        position: relative;
        width: 125px;
        height: 150px;
        >span{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
}
.red {
    color: #fd5439;
}
.logoLoadControlContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.buttons {
    display: none;
}
#dogecoin {
    border: 2px solid #fff;
    color: #fff;
    width: 226px;
    margin-right: 5px;
    height: 47px;
    background-color: transparent;
    font-size: 19px;
    font-family: 'plumbmediumcmediumc';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 18px;
    letter-spacing: 0.05em;
}
#wow {
    background-color: #fd5439;
    border: none;
    color: #fff;
    height: 52px;
    font-size: 24px;
    width: 94px;
    font-family: 'plumbmediumcmediumc';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    -webkit-transition: background-color 0.4s ease-out 0;
    -moz-transition: background-color 0.4s ease-out 0;
    -o-transition: background-color 0.4s ease-out 0;
    transition: background-color 0.4s ease-out 0;
    // -webkit-transition: color 0.4s ease-out 0;
    // -moz-transition: color 0.4s ease-out 0;
    // -o-transition: color 0.4s ease-out 0;
    // transition: color 0.4s ease-out 0;
    &:hover {
        color: #000;
        background-color: #fff;
        -webkit-transition: background-color 0.4s ease-out 0;
        -moz-transition: background-color 0.4s ease-out 0;
        -o-transition: background-color 0.4s ease-out 0;
        transition: background-color 0.4s ease-out 0;
        // -webkit-transition: color 0.4s ease-out 0;
        // -moz-transition: color 0.4s ease-out 0;
        // -o-transition: color 0.4s ease-out 0;
        // transition: color 0.4s ease-out 0;
    }
}